In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/home/client/Documents/shield-it/data/filtered_years_to_from.csv')

# Removing email content from first column
data = data.drop(columns=['Unnamed: 0', 'file', 'message_id', 'X-Folder', 'X-To'])


data["date"] = data["date"].astype("datetime64")
#data["hour"]=data["date"].dt.hour

/home/client/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data = data.rename(columns={'X-From': 'from_name','to_email':'to_recipients','cc':'cc_recipients','bcc':'bcc_recipients','date':'sent_datetime'})
# We can randomize the following fields
data['has_attachments'] = False
data['is_draft'] = False
data['is_read'] = True
data['received_datetime'] = data['sent_datetime'] + pd.DateOffset(days=2,hours=10)

In [4]:
data

,sent_datetime,from_email,to_recipients,body,subject,from_name,cc_recipients,bcc_recipients,if_forwarded,employee,has_attachments,is_draft,is_read,received_datetime
0,1979-12-31 16:00:00,steven.kean@enron.com,NaN,Attached are FERC reports\n\n\n,NaN,Steven J Kean,NaN,NaN,False,skean.nsf,False,False,True,1980-01-03 02:00:00
1,1979-12-31 16:00:00,steven.kean@enron.com,wade.cline@enron.com,Thanks for your message. I do think we need to...,Re: Job Titles and Job Banding,Steven J Kean,NaN,NaN,False,skean.nsf,False,False,True,1980-01-03 02:00:00
2,1979-12-31 16:00:00,andrew.lewis@enron.com,cindy.olson@enron.com,"Cindy,\n\nSeveral of the traders on the Centra...",NaN,Andrew H Lewis,NaN,NaN,False,alewis.nsf,False,False,True,1980-01-03 02:00:00
3,1979-12-31 16:00:00,steven.kean@enron.com,mary.clark@enron.com,Currently an announcement is scheduled for mid...,Re: Annual Meeting Q&A,Steven J Kean,NaN,NaN,False,skean.nsf,False,False,True,1980-01-03 02:00:00
4,1979-12-31 16:00:00,john.griffith@enron.com,NaN,To register your Palm Computingc organizer ele...,Don't forget to register!,John Griffith,NaN,NaN,False,jgriffit.nsf,False,False,True,1980-01-03 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513224,2024-05-26 03:49:00,pse6yl706@aloha.net,NaN,<html>\n<head>\n<title>Untitled Document</titl...,(None),PSE6Yl706@aloha.net@ENRON <IMCEANOTES-PSE6Yl70...,NaN,NaN,False,"Williams, Jason (Trading).pst",False,False,True,2024-05-28 13:49:00
513225,2043-12-28 11:34:00,cramer@cadvision.com,"linsider.jed@enron.com, john.zufferli@enron.co...",\nHappy New Year !\n - marks.xls,marks.xls,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2043-12-30 21:34:00
513226,2044-01-02 15:46:00,cramer@cadvision.com,john.zufferli@enron.com,\nfeb dec trades 37.5 \nfeb dec LL went out 20...,trades jan 2002,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2044-01-05 01:46:00
513227,2044-01-04 08:59:00,cramer@cadvision.com,john.zufferli@enron.com,"\nBOM 5th to 31st traded 34, 33.5 , 33.5 and ...",Trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2044-01-06 18:59:00
513228,2044-01-04 14:48:00,cramer@cadvision.com,john.zufferli@enron.com,"\nHowdy, \nbom went out 35 at 35.5 \nFeb trade...",trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2044-01-07 00:48:00

In [5]:
df = data[~data.subject.isnull()]
ind = df[df['subject'].str.contains(r"Re: ")].index

In [6]:
data['is_reply'] =False
data['is_reply'][ind] = True

/tmp/ipykernel_139238/997832866.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['is_reply'][ind] = True

In [7]:
data['reply_to']=''
data['reply_to'][ind] = data['to_recipients'][ind]
data = data.fillna('')
data

/tmp/ipykernel_139238/799362107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reply_to'][ind] = data['to_recipients'][ind]

,sent_datetime,from_email,to_recipients,body,subject,from_name,cc_recipients,bcc_recipients,if_forwarded,employee,has_attachments,is_draft,is_read,received_datetime,is_reply,reply_to
0,1979-12-31 16:00:00,steven.kean@enron.com,,Attached are FERC reports\n\n\n,,Steven J Kean,,,False,skean.nsf,False,False,True,1980-01-03 02:00:00,False,
1,1979-12-31 16:00:00,steven.kean@enron.com,wade.cline@enron.com,Thanks for your message. I do think we need to...,Re: Job Titles and Job Banding,Steven J Kean,,,False,skean.nsf,False,False,True,1980-01-03 02:00:00,True,wade.cline@enron.com
2,1979-12-31 16:00:00,andrew.lewis@enron.com,cindy.olson@enron.com,"Cindy,\n\nSeveral of the traders on the Centra...",,Andrew H Lewis,,,False,alewis.nsf,False,False,True,1980-01-03 02:00:00,False,
3,1979-12-31 16:00:00,steven.kean@enron.com,mary.clark@enron.com,Currently an announcement is scheduled for mid...,Re: Annual Meeting Q&A,Steven J Kean,,,False,skean.nsf,False,False,True,1980-01-03 02:00:00,True,mary.clark@enron.com
4,1979-12-31 16:00:00,john.griffith@enron.com,,To register your Palm Computingc organizer ele...,Don't forget to register!,John Griffith,,,False,jgriffit.nsf,False,False,True,1980-01-03 02:00:00,False,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513224,2024-05-26 03:49:00,pse6yl706@aloha.net,,<html>\n<head>\n<title>Untitled Document</titl...,(None),PSE6Yl706@aloha.net@ENRON <IMCEANOTES-PSE6Yl70...,,,False,"Williams, Jason (Trading).pst",False,False,True,2024-05-28 13:49:00,False,
513225,2043-12-28 11:34:00,cramer@cadvision.com,"linsider.jed@enron.com, john.zufferli@enron.co...",\nHappy New Year !\n - marks.xls,marks.xls,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2043-12-30 21:34:00,False,
513226,2044-01-02 15:46:00,cramer@cadvision.com,john.zufferli@enron.com,\nfeb dec trades 37.5 \nfeb dec LL went out 20...,trades jan 2002,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-05 01:46:00,False,
513227,2044-01-04 08:59:00,cramer@cadvision.com,john.zufferli@enron.com,"\nBOM 5th to 31st traded 34, 33.5 , 33.5 and ...",Trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-06 18:59:00,False,
513228,2044-01-04 14:48:00,cramer@cadvision.com,john.zufferli@enron.com,"\nHowdy, \nbom went out 35 at 35.5 \nFeb trade...",trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-07 00:48:00,False,

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513229 entries, 0 to 513228
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   sent_datetime      513229 non-null  datetime64[ns]
 1   from_email         513229 non-null  object
 2   to_recipients      513229 non-null  object
 3   body               513229 non-null  object
 4   subject            513229 non-null  object
 5   from_name          513229 non-null  object
 6   cc_recipients      513229 non-null  object
 7   bcc_recipients     513229 non-null  object
 8   if_forwarded       513229 non-null  bool
 9   employee           513229 non-null  object
 10  has_attachments    513229 non-null  bool
 11  is_draft           513229 non-null  bool
 12  is_read            513229 non-null  bool
 13  received_datetime  513229 non-null  datetime64[ns]
 14  is_reply           513229 non-null  bool
 15  reply_to           513229 non-null  object
dtypes: bool(5), datetime64[ns](2), object(9)
memory usage: 45.5+ MB

In [9]:
print(data.columns)

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to'],
      dtype='object')

## Generate Employees :

In [10]:
print(len(data['from_name'].unique()))
print(len(data['employee'].unique()))
print(len(data['from_email'].unique()))

27782
428
20182

In [12]:
names = data['from_name'].unique()
dictio_name = {}
i = 0
for e in names:
    addr = data[data['from_name']==e]['from_email'].unique()
    if '<' in addr[0]:
        dictio_name[e]=addr[0][:addr[0].index('<')]
    else:
        dictio_name[e]=addr[0]   
    i+=1
    if i == 998: break

In [13]:
first_names = []
last_names = []
emails = []
for k,v in dictio_name.items():
    first_names.append(k.split()[0])
    last_names.append(k.split()[-1])
    emails.append(v)

In [14]:
employee_df = pd.DataFrame({'first_name':first_names,'last_name':last_names,'email_address':emails})
employee_df

    first_name                   last_name             email_address
0       Steven                        Kean     steven.kean@enron.com
1       Andrew                       Lewis    andrew.lewis@enron.com
2         John                    Griffith   john.griffith@enron.com
3         Tori                       Wells      tori.wells@enron.com
4         John                      Arnold     john.arnold@enron.com
..         ...                         ...                       ...
993      David                        Mims      david.mims@enron.com
994     "Brian  <brianp@aiglincoln.com.pl>  brianp@aiglincoln.com.pl
995      Heidi                     Withers   heidi.withers@enron.com
996        Dan                    Connally    dan.connally@enron.com
997      Sarah                      Palmer    sarah.palmer@enron.com

[998 rows x 3 columns]

In [15]:
import random

In [16]:
np.random.seed(42)  
total_rows= len(employee_df)

In [17]:
# Generate fake
employee_df["age"] = pd.Categorical(np.random.randint(15,70, total_rows))
employee_df["gender"] = [random.choice(['M','F']) for i in range(total_rows)]
employee_df["job_title"] = [random.choice(['developer','manager','ceo']) for i in range(total_rows)]
employee_df["office_location"]= 'seattle'
employee_df["mobile_phone"] = '0554646316'
employee_df["date_of_bith"] = pd.date_range("1995-01-01", periods=total_rows, freq="D")
employee_df["employment_date"] = pd.date_range("2018-01-01", periods=total_rows, freq="D")

employee_df["team"] = [random.choice(['a1','a2','a3']) for i in range(total_rows)]
employee_df["project"]= [random.choice(['A','B','C']) for i in range(total_rows)]
employee_df["department"]=[random.choice(['AAA','BBB','CCC']) for i in range(total_rows)]
employee_df["organization"]= [random.choice(['3pleA','3pleB','3pleC']) for i in range(total_rows)]
employee_df["martial_status"] = [random.choice(['single','married']) for i in range(total_rows)]

employee_df["address"] = 'anywhere'
employee_df["location"]= 'somewhere'
employee_df["latitude"] =  np.random.uniform(33.33, 88.66,total_rows)
employee_df["longitude"] =  np.random.uniform(80.00,120.66,total_rows)
employee_df["hierarchical_superior"] = np.random.randint(1,total_rows, total_rows)

In [18]:
employee_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,team,project,department,organization,martial_status,address,location,latitude,longitude,hierarchical_superior
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,a2,A,BBB,3pleB,married,anywhere,somewhere,70.265970,109.451616,22
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,a1,B,CCC,3pleA,married,anywhere,somewhere,42.864458,103.517212,30
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,a2,B,BBB,3pleC,single,anywhere,somewhere,43.969351,91.147373,703
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,a2,B,BBB,3pleA,married,anywhere,somewhere,35.591261,83.229192,260
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,a2,B,AAA,3pleC,single,anywhere,somewhere,42.677177,83.482864,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,a3,C,AAA,3pleC,single,anywhere,somewhere,73.034684,107.755216,657
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,a3,C,CCC,3pleB,married,anywhere,somewhere,71.642492,89.836942,842
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,a2,A,BBB,3pleC,single,anywhere,somewhere,88.176194,109.029314,370
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,a2,C,AAA,3pleC,single,anywhere,somewhere,40.434056,113.444265,795
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,a3,A,CCC,3pleC,married,anywhere,somewhere,39.090387,112.688953,54

## Dump DataFrame to mangoDb

In [19]:
from pymongo import MongoClient

In [20]:
client = MongoClient('mongodb://localhost:27017')
db = client['shield_db']
collection_email = db['management_email']
collection_user = db['management_userprofile']

collection_title = db['management_title']
collection_team = db['management_team']
collection_department = db['management_department']
collection_project = db['management_project']
collection_organization = db['management_organization']

In [21]:
data['sent_datetime'] = data['sent_datetime'].astype(str)
data['received_datetime'] = data['received_datetime'].astype(str)
data['id'] = range(len(data))

In [22]:
employee_df['date_of_bith'] = employee_df['date_of_bith'].astype(str)
employee_df['employment_date'] = employee_df['employment_date'].astype(str)
employee_df['id'] = range(total_rows)

In [23]:
mrg = employee_df.merge(data, left_on='email_address', right_on='from_email', how='right')
mrg.id_x[:1000]

0        0.0
1        0.0
2        1.0
3        0.0
4        2.0
       ...
995     16.0
996     43.0
997    299.0
998     16.0
999     43.0
Name: id_x, Length: 1000, dtype: float64

In [24]:
data['employee']= mrg['id_x']

In [25]:
data = data.fillna(-1)
#data['employee'] = data['employee'].astype(int)

In [26]:
data['employee'] = data['employee'].astype(int)

In [27]:
emails_data  = data[data['employee']!=-1]

In [28]:
len(emails_data)

303174

In [29]:
# data.reset_index(inplace=True)
# employee_df.reset_index(inplace=True)

In [30]:
# dat = emails_data.to_dict("records")

In [31]:
# emp = employee_df.to_dict("records")

In [32]:
# collection_user.insert_many(emp)

In [33]:
# collection_email.insert_many(dat)

In [34]:
# data.to_csv('/home/client/Documents/shield-it/DBManagementRestAPI/data/ENRON_emails.csv', index=False)
# employee_df.to_csv('/home/client/Documents/shield-it/DBManagementRestAPI/data/ENRON_employees.csv', index=False)

## Try the Sentiment API

In [35]:
import requests
import json

In [36]:
# phrase = emails_data['body'][12]
# payload = {
#   "id": 0,
#   "text": "i am very happy today",
#   "employee": 0,
#   "subject": "string"
# }
# rep = requests.post("http://0.0.0.0:80/sentiment/classifysentence", json=payload).text
# rep = json.loads(rep)
# json.loads(rep)

In [37]:
# #jupyter
emails_data['body'] = emails_data['body'].str.replace('"',"'")
emails_req = emails_data[:10000]
req = emails_req.drop(labels= ['sent_datetime','from_email','to_recipients','from_name','cc_recipients','bcc_recipients','if_forwarded','employee','has_attachments','is_draft','is_read','received_datetime','is_reply','reply_to'], axis=1)

/tmp/ipykernel_139238/400237016.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_data['body'] = emails_data['body'].str.replace('"',"'")

In [38]:
# from bertopic import BERTopic


# topic_model = BERTopic()
# topics, probs = topic_model.fit_transform(req['body'])
# topic_model.get_topic_info()

In [39]:
# topic_model.get_topic(3)

In [40]:
#topic_model.visualize_topics()

In [41]:
# topic_model.visualize_barchart()

In [42]:
payload={
    "df" : req.to_json()
}
rep = requests.post("http://0.0.0.0:80/sentiment/classifydf", json=payload)

In [43]:
# payload={
#     "df" : req.to_json()
# }
# rep = requests.post("http://0.0.0.0:81/topic", json=payload)

In [44]:
df = json.loads(rep.text)['result_dataframe']
rep = pd.read_json(df)
rep

,subject,id,total_words_body,clean_text,ratio_1st_person,predicted_sentiment,predicted_toxicity
0,,0,4,attach ferc report,0.000000,0,0
1,Re: Job Titles and Job Banding,1,847,thank message i think we need talk meantime th...,0.781250,0,0
2,,2,94,cindyseveral traders central desk ask forward ...,0.500000,2,0
3,Re: Annual Meeting Q&A,3,177,currently announcement schedule mid may may pu...,0.833333,1,0
4,Don't forget to register!,4,75,register palm computingc organizer electronica...,0.000000,0,0
...,...,...,...,...,...,...,...
9995,Project Ghost,9995,236,schedule close friday dont know time gareths d...,0.500000,5,0
9996,Model,9996,2,exe,0.000000,1,0
9997,Project Ghost Closing Checklist,9997,98,forward sara shackletonhouect pm dallas guest ...,0.000000,5,0
9998,Project Ghost,9998,236,schedule close friday dont know time gareths d...,0.500000,5,0
9999,Project Ghost Closing Checklist,9999,99,fyi forward sara shackletonhouect pm dallas gu...,0.000000,5,0

## Email feature generation:

In [45]:
emails_req[rep.columns]=rep

/home/client/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [46]:
emails_req.columns

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to', 'id', 'total_words_body',
       'clean_text', 'ratio_1st_person', 'predicted_sentiment',
       'predicted_toxicity'],
      dtype='object')

In [47]:
import datetime

In [48]:
emails_req['received_datetime'] = emails_req['received_datetime'].astype("datetime64")

/tmp/ipykernel_139238/2802335627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['received_datetime'] = emails_req['received_datetime'].astype("datetime64")

In [49]:
night_begins = datetime.time(17,0,0);night_ends = datetime.time(6,0,0)

In [50]:
holyday =[]
supposed_organisation = '3pleA'

In [51]:
type(emails_req.to_recipients[0])

str

In [52]:
# is night time / holiday / weekend
emails_req["is_night"] = ((emails_req['received_datetime'].dt.time >= night_begins) & (emails_req['received_datetime'].dt.time <= datetime.time(23,59,59)))|((emails_req['received_datetime'].dt.time >= datetime.time(0,0,0)) & (emails_req['received_datetime'].dt.time <= night_ends))
emails_req["is_weekend"] = ((emails_req['received_datetime'].dt.dayofweek == 5)|(emails_req['received_datetime'].dt.dayofweek == 6))
emails_req["is_holiday"] = emails_req['received_datetime'].dt.date in holyday

# importance: with respect to hierarchy 
# tmp = emails_req.merge(employee_df,left_on='employee',right_on='hierarchical_superior')
# ind=tmp[tmp['email_address']==tmp['to_recipients']].index
# emails_req.iloc[ind]=True

# Number of people to whom the email was sent
emails_req['nb_receivers']= [len(t.split(',')) for t in emails_req['to_recipients'].values]
# Number of people to whom cc/bcc the email was sent
emails_req['nb_cc_receivers']= [len(t.split(',')) for t in emails_req['cc_recipients'].values]
emails_req['nb_bcc_receivers']= [len(t.split(',')) for t in emails_req['bcc_recipients'].values]

# sender_is_external
emails_req["sender_is_external"] = emails_req.merge(employee_df,left_on='employee',right_on='id')['organization']==supposed_organisation
# receiver_is_external
emails_req["receiver_is_external"] = emails_req.merge(employee_df,left_on='to_recipients',right_on='email_address')['organization']==supposed_organisation

/tmp/ipykernel_139238/1218553362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req["is_night"] = ((emails_req['received_datetime'].dt.time >= night_begins) & (emails_req['received_datetime'].dt.time <= datetime.time(23,59,59)))|((emails_req['received_datetime'].dt.time >= datetime.time(0,0,0)) & (emails_req['received_datetime'].dt.time <= night_ends))
/tmp/ipykernel_139238/1218553362.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req["is_weekend"] = ((emails_req['received_datetime'].dt.dayofweek == 5)|(emails_req['received_datetime'].dt.dayofweek == 6))
/tmp/ipykernel_139238/1218553362.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req["is_holiday"] = emails_req['received_datetime'].dt.date in holyday
/tmp/ipykernel_139238/1218553362.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['nb_receivers']= [len(t.split(',')) for t in emails_req['to_recipients'].values]
/tmp/ipykernel_139238/1218553362.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['nb_cc_receivers']= [len(t.split(',')) for t in emails_req['cc_recipients'].values]
/tmp/ipykernel_139238/1218553362.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['nb_bcc_receivers']= [len(t.split(',')) for t in emails_req['bcc_recipients'].values]
/tmp/ipykernel_139238/1218553362.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req["sender_is_external"] = emails_req.merge(employee_df,left_on='employee',right_on='id')['organization']==supposed_organisation
/tmp/ipykernel_139238/1218553362.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req["receiver_is_external"] = emails_req.merge(employee_df,left_on='to_recipients',right_on='email_address')['organization']==supposed_organisation

In [53]:
tmp = emails_req.merge(employee_df,left_on='employee',right_on='hierarchical_superior')
ind=tmp[tmp['email_address']==tmp['to_recipients']].index
emails_req['is_important']=False
for i in ind:
    emails_req['is_important'][i]=True

/tmp/ipykernel_139238/1077397739.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['is_important']=False
/tmp/ipykernel_139238/1077397739.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['is_important'][i]=True

In [54]:
emails_req.merge(employee_df,left_on='to_recipients',right_on='email_address')['organization']==supposed_organisation#

0       False
1       False
2       False
3       False
4       False
        ...
5372     True
5373     True
5374     True
5375     True
5376     True
Name: organization, Length: 5377, dtype: bool

In [55]:
emails_req.columns

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to', 'id', 'total_words_body',
       'clean_text', 'ratio_1st_person', 'predicted_sentiment',
       'predicted_toxicity', 'is_night', 'is_weekend', 'is_holiday',
       'nb_receivers', 'nb_cc_receivers', 'nb_bcc_receivers',
       'sender_is_external', 'receiver_is_external', 'is_important'],
      dtype='object')

In [56]:
emails_req

,sent_datetime,from_email,to_recipients,body,subject,from_name,cc_recipients,bcc_recipients,if_forwarded,employee,...,predicted_toxicity,is_night,is_weekend,is_holiday,nb_receivers,nb_cc_receivers,nb_bcc_receivers,sender_is_external,receiver_is_external,is_important
0,1979-12-31 16:00:00,steven.kean@enron.com,,Attached are FERC reports\n\n\n,,Steven J Kean,,,False,0,...,0.0,True,False,False,1,1,1,False,False,False
1,1979-12-31 16:00:00,steven.kean@enron.com,wade.cline@enron.com,Thanks for your message. I do think we need to...,Re: Job Titles and Job Banding,Steven J Kean,,,False,0,...,0.0,True,False,False,1,1,1,False,False,False
2,1979-12-31 16:00:00,andrew.lewis@enron.com,cindy.olson@enron.com,"Cindy,\n\nSeveral of the traders on the Centra...",,Andrew H Lewis,,,False,1,...,0.0,True,False,False,1,1,1,False,False,False
3,1979-12-31 16:00:00,steven.kean@enron.com,mary.clark@enron.com,Currently an announcement is scheduled for mid...,Re: Annual Meeting Q&A,Steven J Kean,,,False,0,...,0.0,True,False,False,1,1,1,False,False,False
4,1979-12-31 16:00:00,john.griffith@enron.com,,To register your Palm Computingc organizer ele...,Don't forget to register!,John Griffith,,,False,2,...,0.0,True,False,False,1,1,1,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1999-12-15 07:08:00,sara.shackleton@enron.com,marie.heard@enron.com,This is scheduled to close on Friday (don't kn...,Project Ghost,Sara Shackleton,,,True,299,...,0.0,True,False,False,1,1,1,True,NaN,False
9996,1999-12-15 07:08:00,patrickalan@compuserve.com,benjamin.rogers@enron.com,- 121599.exe,Model,Patrick Smith <PatrickAlan@compuserve.com>,,,False,44,...,0.0,True,False,False,1,1,1,False,NaN,False
9997,1999-12-15 07:08:00,sara.shackleton@enron.com,marie.heard@enron.com,---------------------- Forwarded by Sara Shack...,Project Ghost Closing Checklist,Sara Shackleton,,,True,23,...,0.0,True,False,False,1,1,1,False,NaN,False
9998,1999-12-15 07:08:00,sara.shackleton@enron.com,marie.heard@enron.com,This is scheduled to close on Friday (don't kn...,Project Ghost,Sara Shackleton,,,True,23,...,0.0,True,False,False,1,1,1,False,NaN,False
9999,1999-12-15 07:14:00,sara.shackleton@enron.com,rod.nelson@enron.com,FYI\n---------------------- Forwarded by Sara ...,Project Ghost Closing Checklist,Sara Shackleton,,,True,16,...,0.0,True,False,False,1,1,1,False,NaN,False

In [57]:
employee_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,project,department,organization,martial_status,address,location,latitude,longitude,hierarchical_superior,id
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,...,A,BBB,3pleB,married,anywhere,somewhere,70.265970,109.451616,22,0
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,...,B,CCC,3pleA,married,anywhere,somewhere,42.864458,103.517212,30,1
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,...,B,BBB,3pleC,single,anywhere,somewhere,43.969351,91.147373,703,2
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,...,B,BBB,3pleA,married,anywhere,somewhere,35.591261,83.229192,260,3
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,B,AAA,3pleC,single,anywhere,somewhere,42.677177,83.482864,205,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,...,C,AAA,3pleC,single,anywhere,somewhere,73.034684,107.755216,657,993
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,...,C,CCC,3pleB,married,anywhere,somewhere,71.642492,89.836942,842,994
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,A,BBB,3pleC,single,anywhere,somewhere,88.176194,109.029314,370,995
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,...,C,AAA,3pleC,single,anywhere,somewhere,40.434056,113.444265,795,996
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,...,A,CCC,3pleC,married,anywhere,somewhere,39.090387,112.688953,54,997

## Employee feature generation:

In [58]:
# # Total number of messages sent
# # Total number of messages received
# # Total number of messages sent at night
# # Total number of messages received at night
# # Total number of messages sent on holidays
# # Total number of messages received on holidays 
# # Total number of messages sent on weekends
# # Total number of messages received on weekend 
# # Avg_msg_len_received ++
# # Avg_msg_len_sent ++
# # Avg Ratio of 1st person to 3rd person pronoun of messages sent
# # Avg Ratio of 1st person to 3rd person pronoun of messages received
# # Average Number of Messages sent/day
# # Average Number of Messages received/day
# # Ratio Sent/Received
# # Last message sent datetime
# # Degree:


# Average delta_time_between_messages
# Constraint:
# Average emotions in messages
# Total volume of emails sent compared to a hierarchical level baseline.
# Total volume of emails received compared to a hierarchical level baseline.
# Higher Hierarchical Level Reciprocity: Number of superiors with whom there is a reciprocal communication
# Executive Hierarchical Level
# Staff Member Hierarchical Level
# influencability 
# Variance in the Number of Messages sent/day
# Variance in the Number of Messages received/day

In [59]:
emails_req['to_recipients'] = emails_req.apply(lambda x: json.dumps([s.strip()[:4] if ('\n' in s) else s.strip() for s in x['to_recipients'].split(',')]),axis=1)

/tmp/ipykernel_139238/2787784578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['to_recipients'] = emails_req.apply(lambda x: json.dumps([s.strip()[:4] if ('\n' in s) else s.strip() for s in x['to_recipients'].split(',')]),axis=1)

In [60]:
empl_df = employee_df.copy()
empl_df['nb_mail_sent'] = 0
empl_df['nb_mail_received'] = 0

In [61]:
grp_send = emails_req.groupby('from_email').agg('count')['sent_datetime']
grp_rec = emails_req.groupby('to_recipients').agg('count')['sent_datetime']

In [62]:
def make_dictionary_sender(group):
    dictionay = {}
    for k,v in zip(group.index, group.values):
        dictionay[k]=v
    return dictionay

def make_dictionary_receiver(group):
    dictionay = {}
    grp_rec_val = list(group.values[1:])
    grp_rec_ind = list(group.index)

    grp_rec_ind = [g_list for g_list in grp_rec_ind if (not '<' in g_list) and g_list !='']
    
    for k,v in zip(grp_rec_ind, grp_rec_val):
        k = json.loads(k)
        if k[0]=='': continue
        if 1<len(k) :
            for f in k:
                dictionay[f] = v
        else:        
            dictionay[k[0]] = v
    return dictionay

In [63]:
nb_messages_sent_dict = make_dictionary_sender(grp_send)
nb_messages_rec_dict = make_dictionary_receiver(grp_rec)

In [64]:
empl_df['nb_mail_sent'] = empl_df.apply(lambda x: nb_messages_sent_dict[x['email_address']] if x['email_address'] in nb_messages_sent_dict.keys() else 0, axis=1)
empl_df['nb_mail_received'] = empl_df.apply(lambda x: nb_messages_rec_dict[x['email_address']] if x['email_address'] in nb_messages_rec_dict.keys() else 0, axis=1)

# empl_df['nb_mail_sent_square'] = empl_df.apply(lambda x: nb_messages_sent_dict[x['email_address']]**2 if x['email_address'] in nb_messages_sent_dict.keys() else 0, axis=1)
# empl_df['nb_mail_received_square'] = empl_df.apply(lambda x: nb_messages_rec_dict[x['email_address']]**2 if x['email_address'] in nb_messages_rec_dict.keys() else 0, axis=1)

In [65]:
grp_send_night = emails_req[emails_req['is_night']==True].groupby('from_email').agg('count')['sent_datetime']
grp_send_weekend = emails_req[emails_req['is_weekend']==True].groupby('from_email').agg('count')['sent_datetime']
grp_send_holyday = emails_req[emails_req['is_holiday']==True].groupby('from_email').agg('count')['sent_datetime']
grp_rec_night = emails_req[emails_req['is_night']==True].groupby('to_recipients').agg('count')['sent_datetime']
grp_rec_weekend  = emails_req[emails_req['is_weekend']==True].groupby('to_recipients').agg('count')['sent_datetime']
grp_rec_holyday = emails_req[emails_req['is_holiday']==True].groupby('to_recipients').agg('count')['sent_datetime']

In [66]:
grp_send_night_dict = make_dictionary_sender(grp_send_night)
grp_send_weekend_dict = make_dictionary_sender(grp_send_weekend)
grp_send_holyday_dict = make_dictionary_sender(grp_send_holyday)

grp_rec_night_dict = make_dictionary_receiver(grp_rec_night)
grp_rec_weekend_dict = make_dictionary_receiver(grp_rec_weekend)
grp_rec_holyday_dict = make_dictionary_receiver(grp_rec_holyday)

In [67]:
empl_df['nb_mail_sent_night'] = 0
empl_df['nb_mail_sent_weekend'] = 0
empl_df['nb_mail_sent_holiday'] = 0
empl_df['nb_mail_received_night'] = 0
empl_df['nb_mail_received_weekend'] = 0
empl_df['nb_mail_received_holiday'] = 0

In [68]:
empl_df['nb_mail_sent_night'] = empl_df.apply(lambda x: grp_send_night_dict[x['email_address']] if x['email_address'] in grp_send_night_dict.keys() else 0, axis=1)
empl_df['nb_mail_sent_weekend'] = empl_df.apply(lambda x: grp_send_weekend_dict[x['email_address']] if x['email_address'] in grp_send_weekend_dict.keys() else 0, axis=1)
empl_df['nb_mail_sent_holiday'] = empl_df.apply(lambda x: grp_send_holyday_dict[x['email_address']] if x['email_address'] in grp_send_holyday_dict.keys() else 0, axis=1)

empl_df['nb_mail_received_night'] = empl_df.apply(lambda x: grp_rec_night_dict[x['email_address']] if x['email_address'] in grp_rec_night_dict.keys() else 0, axis=1)
empl_df['nb_mail_received_weekend'] = empl_df.apply(lambda x: grp_rec_weekend_dict[x['email_address']] if x['email_address'] in grp_rec_weekend_dict.keys() else 0, axis=1)
empl_df['nb_mail_received_holiday'] = empl_df.apply(lambda x: grp_rec_holyday_dict[x['email_address']] if x['email_address'] in grp_rec_holyday_dict.keys() else 0, axis=1)

In [69]:
empl_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,hierarchical_superior,id,nb_mail_sent,nb_mail_received,nb_mail_sent_night,nb_mail_sent_weekend,nb_mail_sent_holiday,nb_mail_received_night,nb_mail_received_weekend,nb_mail_received_holiday
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,...,22,0,596,3,133,233,0,5,24,0
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,...,30,1,2,0,2,0,0,0,0,0
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,...,703,2,2,0,2,0,0,0,0,0
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,...,260,3,1,0,1,0,0,0,0,0
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,205,4,8,1,8,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,...,657,993,0,0,0,0,0,0,0,0
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,...,842,994,0,0,0,0,0,0,0,0
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,370,995,0,0,0,0,0,0,0,0
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,...,795,996,0,0,0,0,0,0,0,0
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,...,54,997,0,0,0,0,0,0,0,0

In [70]:
emails_req.columns

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to', 'id', 'total_words_body',
       'clean_text', 'ratio_1st_person', 'predicted_sentiment',
       'predicted_toxicity', 'is_night', 'is_weekend', 'is_holiday',
       'nb_receivers', 'nb_cc_receivers', 'nb_bcc_receivers',
       'sender_is_external', 'receiver_is_external', 'is_important'],
      dtype='object')

In [71]:
avg_len_msg_send = emails_req.groupby('from_email').agg('mean')['total_words_body']
avg_len_msg_rec = emails_req.groupby('to_recipients').agg('mean')['total_words_body']
avg_ratio_1st_person_msg_send = emails_req.groupby('from_email').agg('mean')['ratio_1st_person']
avg_ratio_1st_person_msg_rec = emails_req.groupby('to_recipients').agg('mean')['ratio_1st_person']

In [72]:
avg_len_msg_send_dict = make_dictionary_sender(avg_len_msg_send)
avg_len_msg_rec_dict = make_dictionary_receiver(avg_len_msg_rec)
avg_ratio_1st_person_msg_send_dict = make_dictionary_sender(avg_ratio_1st_person_msg_send)
avg_ratio_1st_person_msg_rec_dict = make_dictionary_receiver(avg_ratio_1st_person_msg_rec)

In [73]:
empl_df['avg_len_msg_send'] = 0
empl_df['avg_len_msg_rec'] = 0
empl_df['avg_ratio_1st_person_msg_send'] = 0
empl_df['avg_ratio_1st_person_msg_rec'] = 0

In [74]:
empl_df['avg_len_msg_send'] = empl_df.apply(lambda x: avg_len_msg_send_dict[x['email_address']] if x['email_address'] in avg_len_msg_send_dict.keys() else 0, axis=1)
empl_df['avg_len_msg_rec'] = empl_df.apply(lambda x: avg_len_msg_rec_dict[x['email_address']] if x['email_address'] in avg_len_msg_rec_dict.keys() else 0, axis=1)
empl_df['avg_ratio_1st_person_msg_send'] = empl_df.apply(lambda x: avg_ratio_1st_person_msg_send_dict[x['email_address']] if x['email_address'] in avg_ratio_1st_person_msg_send_dict.keys() else 0, axis=1)
empl_df['avg_ratio_1st_person_msg_rec'] = empl_df.apply(lambda x: avg_ratio_1st_person_msg_rec_dict[x['email_address']] if x['email_address'] in avg_ratio_1st_person_msg_rec_dict.keys() else 0, axis=1)

In [75]:
empl_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,nb_mail_sent_night,nb_mail_sent_weekend,nb_mail_sent_holiday,nb_mail_received_night,nb_mail_received_weekend,nb_mail_received_holiday,avg_len_msg_send,avg_len_msg_rec,avg_ratio_1st_person_msg_send,avg_ratio_1st_person_msg_rec
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,...,133,233,0,5,24,0,80.054146,311.0,0.135847,0.875
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,...,2,0,0,0,0,0,94.000000,0.0,0.500000,0.000
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,...,2,0,0,0,0,0,75.000000,0.0,0.000000,0.000
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,...,1,0,0,0,0,0,308.000000,0.0,0.500000,0.000
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,8,0,0,2,0,0,182.000000,NaN,0.388889,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,...,0,0,0,0,0,0,0.000000,0.0,0.000000,0.000
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,...,0,0,0,0,0,0,0.000000,0.0,0.000000,0.000
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,0,0,0,0,0,0,0.000000,0.0,0.000000,0.000
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,...,0,0,0,0,0,0,0.000000,0.0,0.000000,0.000
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,...,0,0,0,0,0,0,0.000000,0.0,0.000000,0.000

In [76]:
emails_req['sent_datetime'] = emails_req['sent_datetime'].astype("datetime64")
emails_req['sent_datetime_date'] = emails_req['sent_datetime'].dt.date

/tmp/ipykernel_139238/3573454027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['sent_datetime'] = emails_req['sent_datetime'].astype("datetime64")
/tmp/ipykernel_139238/3573454027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['sent_datetime_date'] = emails_req['sent_datetime'].dt.date

In [77]:
emails_req['main_recipient'] = emails_req['to_recipients'].apply(lambda x: json.loads(x)[0] )

/tmp/ipykernel_139238/3706556921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['main_recipient'] = emails_req['to_recipients'].apply(lambda x: json.loads(x)[0] )

In [78]:
empl_df['avg_nb_mail_sent_per_day'] = empl_df['nb_mail_sent'] / len(emails_req['sent_datetime_date'].unique())
empl_df['avg_nb_mail_rec_per_day'] = empl_df['nb_mail_received'] / len(emails_req['sent_datetime_date'].unique())
empl_df['ratio_nb_mail_sent_rec'] = empl_df['nb_mail_received'] +1  / empl_df['nb_mail_sent']+1

In [79]:
empl_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,nb_mail_received_night,nb_mail_received_weekend,nb_mail_received_holiday,avg_len_msg_send,avg_len_msg_rec,avg_ratio_1st_person_msg_send,avg_ratio_1st_person_msg_rec,avg_nb_mail_sent_per_day,avg_nb_mail_rec_per_day,ratio_nb_mail_sent_rec
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,...,5,24,0,80.054146,311.0,0.135847,0.875,1.467980,0.007389,4.001678
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,...,0,0,0,94.000000,0.0,0.500000,0.000,0.004926,0.000000,1.500000
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,...,0,0,0,75.000000,0.0,0.000000,0.000,0.004926,0.000000,1.500000
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,...,0,0,0,308.000000,0.0,0.500000,0.000,0.002463,0.000000,2.000000
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,2,0,0,182.000000,NaN,0.388889,NaN,0.019704,0.002463,2.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,...,0,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,...,0,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,0,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,...,0,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,...,0,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf

In [80]:
var_max = pd.DataFrame(emails_req.groupby(['from_email']).agg('max')['sent_datetime'])
empl_df = empl_df.merge(var_max,left_on='email_address',right_on=var_max.index,how='left')
empl_df

/home/client/anaconda3/lib/python3.9/site-packages/pandas/core/apply.py:577: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  return f(*args, **kwargs)

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,nb_mail_received_weekend,nb_mail_received_holiday,avg_len_msg_send,avg_len_msg_rec,avg_ratio_1st_person_msg_send,avg_ratio_1st_person_msg_rec,avg_nb_mail_sent_per_day,avg_nb_mail_rec_per_day,ratio_nb_mail_sent_rec,sent_datetime
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,...,24,0,80.054146,311.0,0.135847,0.875,1.467980,0.007389,4.001678,1999-12-13 09:15:00
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,...,0,0,94.000000,0.0,0.500000,0.000,0.004926,0.000000,1.500000,1979-12-31 16:00:00
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,...,0,0,75.000000,0.0,0.000000,0.000,0.004926,0.000000,1.500000,1979-12-31 16:00:00
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,...,0,0,308.000000,0.0,0.500000,0.000,0.002463,0.000000,2.000000,1979-12-31 16:00:00
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,0,0,182.000000,NaN,0.388889,NaN,0.019704,0.002463,2.125000,1979-12-31 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,...,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,...,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,...,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,...,0,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT

In [81]:
emails_req.columns

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to', 'id', 'total_words_body',
       'clean_text', 'ratio_1st_person', 'predicted_sentiment',
       'predicted_toxicity', 'is_night', 'is_weekend', 'is_holiday',
       'nb_receivers', 'nb_cc_receivers', 'nb_bcc_receivers',
       'sender_is_external', 'receiver_is_external', 'is_important',
       'sent_datetime_date', 'main_recipient'],
      dtype='object')

In [82]:
empl_df.columns

Index(['first_name', 'last_name', 'email_address', 'age', 'gender',
       'job_title', 'office_location', 'mobile_phone', 'date_of_bith',
       'employment_date', 'team', 'project', 'department', 'organization',
       'martial_status', 'address', 'location', 'latitude', 'longitude',
       'hierarchical_superior', 'id', 'nb_mail_sent', 'nb_mail_received',
       'nb_mail_sent_night', 'nb_mail_sent_weekend', 'nb_mail_sent_holiday',
       'nb_mail_received_night', 'nb_mail_received_weekend',
       'nb_mail_received_holiday', 'avg_len_msg_send', 'avg_len_msg_rec',
       'avg_ratio_1st_person_msg_send', 'avg_ratio_1st_person_msg_rec',
       'avg_nb_mail_sent_per_day', 'avg_nb_mail_rec_per_day',
       'ratio_nb_mail_sent_rec', 'sent_datetime'],
      dtype='object')

In [83]:
degree = pd.DataFrame(emails_req.groupby(['from_email']).agg('sum')[['nb_receivers','nb_cc_receivers','nb_bcc_receivers']].sum(axis=1))
empl_df = empl_df.merge(degree,left_on='email_address',right_on=degree.index,how='left')
empl_df = empl_df.rename(columns={'0': 'degree'})

In [84]:
#empl_df = empl_df.drop(['sent_datetime'],axis=1)

In [85]:
empl_df['sent_datetime'] = empl_df['sent_datetime'].astype(str)
empl_df['date_of_bith'] = empl_df['date_of_bith'].astype(str)
empl_df['employment_date'] = empl_df['employment_date'].astype(str)

emails_req['sent_datetime'] = emails_req['sent_datetime'].astype(str)
emails_req['sent_datetime_date'] = emails_req['sent_datetime_date'].astype(str)
emails_req['received_datetime'] = emails_req['received_datetime'].astype(str)

/tmp/ipykernel_139238/440175934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['sent_datetime'] = emails_req['sent_datetime'].astype(str)
/tmp/ipykernel_139238/440175934.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['sent_datetime_date'] = emails_req['sent_datetime_date'].astype(str)
/tmp/ipykernel_139238/440175934.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emails_req['received_datetime'] = emails_req['received_datetime'].astype(str)

In [86]:
empl_df = empl_df.rename(columns={0: 'degree'})
empl_df.degree = empl_df.degree.fillna(-1)
empl_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,nb_mail_received_holiday,avg_len_msg_send,avg_len_msg_rec,avg_ratio_1st_person_msg_send,avg_ratio_1st_person_msg_rec,avg_nb_mail_sent_per_day,avg_nb_mail_rec_per_day,ratio_nb_mail_sent_rec,sent_datetime,degree
0,Steven,Kean,steven.kean@enron.com,53,F,ceo,seattle,0554646316,1995-01-01,2018-01-01,...,0,80.054146,311.0,0.135847,0.875,1.467980,0.007389,4.001678,1999-12-13 09:15:00,1837.0
1,Andrew,Lewis,andrew.lewis@enron.com,66,F,manager,seattle,0554646316,1995-01-02,2018-01-02,...,0,94.000000,0.0,0.500000,0.000,0.004926,0.000000,1.500000,1979-12-31 16:00:00,6.0
2,John,Griffith,john.griffith@enron.com,43,M,ceo,seattle,0554646316,1995-01-03,2018-01-03,...,0,75.000000,0.0,0.000000,0.000,0.004926,0.000000,1.500000,1979-12-31 16:00:00,6.0
3,Tori,Wells,tori.wells@enron.com,29,F,manager,seattle,0554646316,1995-01-04,2018-01-04,...,0,308.000000,0.0,0.500000,0.000,0.002463,0.000000,2.000000,1979-12-31 16:00:00,3.0
4,John,Arnold,john.arnold@enron.com,57,M,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,0,182.000000,NaN,0.388889,NaN,0.019704,0.002463,2.125000,1979-12-31 16:00:00,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,M,developer,seattle,0554646316,1997-09-20,2020-09-20,...,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT,-1.0
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,manager,seattle,0554646316,1997-09-21,2020-09-21,...,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT,-1.0
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT,-1.0
996,Dan,Connally,dan.connally@enron.com,17,M,developer,seattle,0554646316,1997-09-23,2020-09-23,...,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT,-1.0
997,Sarah,Palmer,sarah.palmer@enron.com,41,F,ceo,seattle,0554646316,1997-09-24,2020-09-24,...,0,0.000000,0.0,0.000000,0.000,0.000000,0.000000,inf,NaT,-1.0

In [87]:
emails_req.columns

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to', 'id', 'total_words_body',
       'clean_text', 'ratio_1st_person', 'predicted_sentiment',
       'predicted_toxicity', 'is_night', 'is_weekend', 'is_holiday',
       'nb_receivers', 'nb_cc_receivers', 'nb_bcc_receivers',
       'sender_is_external', 'receiver_is_external', 'is_important',
       'sent_datetime_date', 'main_recipient'],
      dtype='object')

In [88]:
empl_df.columns

Index(['first_name', 'last_name', 'email_address', 'age', 'gender',
       'job_title', 'office_location', 'mobile_phone', 'date_of_bith',
       'employment_date', 'team', 'project', 'department', 'organization',
       'martial_status', 'address', 'location', 'latitude', 'longitude',
       'hierarchical_superior', 'id', 'nb_mail_sent', 'nb_mail_received',
       'nb_mail_sent_night', 'nb_mail_sent_weekend', 'nb_mail_sent_holiday',
       'nb_mail_received_night', 'nb_mail_received_weekend',
       'nb_mail_received_holiday', 'avg_len_msg_send', 'avg_len_msg_rec',
       'avg_ratio_1st_person_msg_send', 'avg_ratio_1st_person_msg_rec',
       'avg_nb_mail_sent_per_day', 'avg_nb_mail_rec_per_day',
       'ratio_nb_mail_sent_rec', 'sent_datetime', 'degree'],
      dtype='object')

In [89]:
emails_req = emails_req[emails_req['total_words_body']<800]

In [90]:
len(emails_req)

9613

In [91]:
dat = emails_req.to_dict("records")
emp = empl_df.to_dict("records")
collection_email.insert_many(dat)
collection_user.insert_many(emp)

In [92]:
# del(dat[111])
# del(dat[169])

In [93]:
# data.to_csv('/home/client/Documents/shield-it/data/ENRON_emails.csv', index=False)
# employee_df.to_csv('/home/client/Documents/shield-it/data/ENRON_employees.csv', index=False)

In [122]:
job_title_view = empl_df.groupby(['job_title']).agg('mean')[['nb_mail_sent','nb_mail_received', 'nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','avg_len_msg_send','avg_len_msg_rec','avg_ratio_1st_person_msg_send','avg_ratio_1st_person_msg_rec','avg_nb_mail_sent_per_day','avg_nb_mail_rec_per_day','ratio_nb_mail_sent_rec','degree']]
team_view = empl_df.groupby(['team']).agg('mean')[['nb_mail_sent','nb_mail_received', 'nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','avg_len_msg_send','avg_len_msg_rec','avg_ratio_1st_person_msg_send','avg_ratio_1st_person_msg_rec','avg_nb_mail_sent_per_day','avg_nb_mail_rec_per_day','ratio_nb_mail_sent_rec','degree']]
project_view = empl_df.groupby(['project']).agg('mean')[['nb_mail_sent','nb_mail_received', 'nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','avg_len_msg_send','avg_len_msg_rec','avg_ratio_1st_person_msg_send','avg_ratio_1st_person_msg_rec','avg_nb_mail_sent_per_day','avg_nb_mail_rec_per_day','ratio_nb_mail_sent_rec','degree']]
department_view = empl_df.groupby(['department']).agg('mean')[['nb_mail_sent','nb_mail_received', 'nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','avg_len_msg_send','avg_len_msg_rec','avg_ratio_1st_person_msg_send','avg_ratio_1st_person_msg_rec','avg_nb_mail_sent_per_day','avg_nb_mail_rec_per_day','ratio_nb_mail_sent_rec','degree']]
organization_view = empl_df.groupby(['organization']).agg('mean')[['nb_mail_sent','nb_mail_received', 'nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','avg_len_msg_send','avg_len_msg_rec','avg_ratio_1st_person_msg_send','avg_ratio_1st_person_msg_rec','avg_nb_mail_sent_per_day','avg_nb_mail_rec_per_day','ratio_nb_mail_sent_rec','degree']]

In [132]:
job_title_view.columns = 'avg_job_' + job_title_view.columns
nb_job_title_view=emails_req.merge(empl_df,left_on='from_email',right_on='email_address').groupby(['job_title']).agg('sum')[['nb_receivers','nb_cc_receivers','nb_bcc_receivers','nb_mail_sent','nb_mail_received','nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','degree']]
nb_job_title_view.columns = 'sum_job_' + nb_job_title_view.columns
job = pd.concat([nb_job_title_view, job_title_view],axis=1)

In [127]:
team_view.columns = 'avg_team_' + team_view.columns
nb_team_view = emails_req.merge(empl_df,left_on='from_email',right_on='email_address').groupby(['team']).agg('sum')[['nb_receivers','nb_cc_receivers','nb_bcc_receivers','nb_mail_sent','nb_mail_received','nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','degree']]
nb_team_view.columns = 'sum_team_' + nb_team_view.columns
team = pd.concat([nb_team_view, team_view],axis=1)
team

,sum_team_nb_receivers,sum_team_nb_cc_receivers,sum_team_nb_bcc_receivers,sum_team_nb_mail_sent,sum_team_nb_mail_received,sum_team_nb_mail_sent_night,sum_team_nb_mail_sent_weekend,sum_team_nb_mail_sent_holiday,sum_team_nb_mail_received_night,sum_team_nb_mail_received_weekend,...,avg_team_nb_mail_received_weekend,avg_team_nb_mail_received_holiday,avg_team_avg_len_msg_send,avg_team_avg_len_msg_rec,avg_team_avg_ratio_1st_person_msg_send,avg_team_avg_ratio_1st_person_msg_rec,avg_team_avg_nb_mail_sent_per_day,avg_team_avg_nb_mail_rec_per_day,avg_team_ratio_nb_mail_sent_rec,avg_team_degree
team,,,,,,,,,,,,,,,,,,,,,
a1,9680,4558,3395,2511508,10976,971889,1006105,0,14770,6492,...,1.000000,0.0,97.236962,64.439259,0.216513,0.196355,0.027519,0.007429,NaN,58.063898
a2,13611,8430,5636,4206181,12441,1866222,1650126,0,12854,23837,...,0.985207,0.0,96.911588,70.781644,0.196424,0.204857,0.043278,0.005014,NaN,88.357988
a3,13076,5814,3924,3094161,9484,1420449,1222140,0,8928,11146,...,1.118156,0.0,109.131826,54.977733,0.223968,0.193134,0.029145,0.005735,NaN,71.317003

In [128]:
project_view.columns = 'avg_project_' + project_view.columns
nb_project_view = emails_req.merge(empl_df,left_on='from_email',right_on='email_address').groupby(['project']).agg('sum')[['nb_receivers','nb_cc_receivers','nb_bcc_receivers','nb_mail_sent','nb_mail_received','nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','degree']]
nb_project_view.columns = 'sum_project_' + nb_project_view.columns
project = pd.concat([nb_project_view, project_view],axis=1)
project

,sum_project_nb_receivers,sum_project_nb_cc_receivers,sum_project_nb_bcc_receivers,sum_project_nb_mail_sent,sum_project_nb_mail_received,sum_project_nb_mail_sent_night,sum_project_nb_mail_sent_weekend,sum_project_nb_mail_sent_holiday,sum_project_nb_mail_received_night,sum_project_nb_mail_received_weekend,...,avg_project_nb_mail_received_weekend,avg_project_nb_mail_received_holiday,avg_project_avg_len_msg_send,avg_project_avg_len_msg_rec,avg_project_avg_ratio_1st_person_msg_send,avg_project_avg_ratio_1st_person_msg_rec,avg_project_avg_nb_mail_sent_per_day,avg_project_avg_nb_mail_rec_per_day,avg_project_ratio_nb_mail_sent_rec,avg_project_degree
project,,,,,,,,,,,,,,,,,,,,,
A,15147,9302,6443,5446554,15296,2406374,2133049,0,17236,25235,...,1.040498,0.0,100.743334,66.842747,0.195338,0.191066,0.051970,0.005402,NaN,106.021807
B,13197,6228,4433,4241322,9251,1775587,1707230,0,13143,9231,...,1.061350,0.0,95.553394,59.528572,0.208322,0.194076,0.034777,0.004851,NaN,76.696319
C,8023,3272,2079,123974,8354,76599,38092,0,6173,7009,...,1.008547,0.0,107.066705,63.472754,0.231489,0.208231,0.015199,0.007677,NaN,39.173789

In [129]:
department_view.columns = 'avg_department_' + department_view.columns
nb_department_view = emails_req.merge(empl_df,left_on='from_email',right_on='email_address').groupby(['department']).agg('sum')[['nb_receivers','nb_cc_receivers','nb_bcc_receivers','nb_mail_sent','nb_mail_received','nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','degree']]
nb_department_view.columns = 'sum_department_' + nb_department_view.columns
department = pd.concat([nb_department_view, department_view],axis=1)
department

,sum_department_nb_receivers,sum_department_nb_cc_receivers,sum_department_nb_bcc_receivers,sum_department_nb_mail_sent,sum_department_nb_mail_received,sum_department_nb_mail_sent_night,sum_department_nb_mail_sent_weekend,sum_department_nb_mail_sent_holiday,sum_department_nb_mail_received_night,sum_department_nb_mail_received_weekend,...,avg_department_nb_mail_received_weekend,avg_department_nb_mail_received_holiday,avg_department_avg_len_msg_send,avg_department_avg_len_msg_rec,avg_department_avg_ratio_1st_person_msg_send,avg_department_avg_ratio_1st_person_msg_rec,avg_department_avg_nb_mail_sent_per_day,avg_department_avg_nb_mail_rec_per_day,avg_department_ratio_nb_mail_sent_rec,avg_department_degree
department,,,,,,,,,,,,,,,,,,,,,
AAA,8100,3952,2286,497918,4950,241645,180296,0,8967,5127,...,1.005848,0.0,122.224709,65.528957,0.244643,0.212692,0.017234,0.006078,NaN,44.640351
BBB,10382,4779,3294,1713756,7809,674519,650903,0,10372,18662,...,0.996988,0.0,89.928853,60.045767,0.196836,0.174900,0.025580,0.005238,NaN,61.253012
CCC,17885,10071,7375,7600176,20142,3342396,3047172,0,17213,17686,...,1.108025,0.0,90.977133,64.205606,0.194286,0.206518,0.058543,0.006766,NaN,114.762346

In [130]:
organization_view.columns = 'avg_organization_' + organization_view.columns
nb_organization_view = emails_req.merge(empl_df,left_on='from_email',right_on='email_address').groupby(['organization']).agg('sum')[['nb_receivers','nb_cc_receivers','nb_bcc_receivers','nb_mail_sent','nb_mail_received','nb_mail_sent_night','nb_mail_sent_weekend','nb_mail_sent_holiday','nb_mail_received_night','nb_mail_received_weekend','nb_mail_received_holiday','degree']]
nb_organization_view.columns = 'sum_organization_' + nb_organization_view.columns
organization = pd.concat([nb_organization_view, organization_view],axis=1)
organization

,sum_organization_nb_receivers,sum_organization_nb_cc_receivers,sum_organization_nb_bcc_receivers,sum_organization_nb_mail_sent,sum_organization_nb_mail_received,sum_organization_nb_mail_sent_night,sum_organization_nb_mail_sent_weekend,sum_organization_nb_mail_sent_holiday,sum_organization_nb_mail_received_night,sum_organization_nb_mail_received_weekend,...,avg_organization_nb_mail_received_weekend,avg_organization_nb_mail_received_holiday,avg_organization_avg_len_msg_send,avg_organization_avg_len_msg_rec,avg_organization_avg_ratio_1st_person_msg_send,avg_organization_avg_ratio_1st_person_msg_rec,avg_organization_avg_nb_mail_sent_per_day,avg_organization_avg_nb_mail_rec_per_day,avg_organization_ratio_nb_mail_sent_rec,avg_organization_degree
organization,,,,,,,,,,,,,,,,,,,,,
3pleA,10207,4784,2830,1792121,6968,838430,719164,0,7282,5760,...,1.000000,0.0,112.515893,77.462442,0.233994,0.208391,0.023024,0.006623,NaN,61.439024
3pleB,9848,5034,3319,1661751,11126,664592,639559,0,12679,20461,...,1.107649,0.0,87.613182,60.141548,0.200097,0.188460,0.023940,0.005889,NaN,55.458924
3pleC,16312,8984,6806,6357978,14807,2755538,2519648,0,16591,15254,...,0.993691,0.0,104.923274,52.006358,0.203566,0.198092,0.054739,0.005548,NaN,104.280757

In [133]:

job = job.to_dict("records")
team = team.to_dict("records")
project = project.to_dict("records")
department = department.to_dict("records")
organization = organization.to_dict("records")
collection_title.insert_many(job)
collection_team.insert_many(team)
collection_project.insert_many(project)
collection_department.insert_many(department)
collection_organization.insert_many(organization)